@using WebApplication3.Controllers
@model WebApplication3.Controllers.MyController

@{
    ViewBag.Title = "blog";
    Layout = "_Layout";
    Posts posts = new Posts();
}

<h1>Blog</h1>

<div>
    <form asp-controller="My" asp-action="AddPost">
        <h3>Header</h3>
        <input type="text" id="header" name="header"/>
        <h4>Body</h4>
        <input type="text" id="body" name="body"/>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
</div>
<div>
    <h1>posts</h1>
    @{
        foreach (var post in (ViewData["data"] as IList<OnePost>)!)
        {
            <div class="border-1">
                <h2 class="fs-2">@post.PostHeader</h2>
                <p class="postBody">@post.PostText</p>
                <button type="button" class="btn btn-primary">Čti more</button>
                <button type="button" class="btn btn-info">Uprav</button>
                <form asp-action="Remove" asp-controller="My">
                    <input type="submit" class="btn btn-danger" value="Delete"/>
                </form>
            </div>
        }
    }
</div>