@model System.Collections.Generic.List<WebApplication3.Controllers.OnePost>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Blog</h1>

<div>
    <h3>Header</h3>
    <input/>
    <h4>Body</h4>
    <input/>
    <button>Create new post</button>
</div>

@{
    
}